@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body,html{
  background-color: black;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/**
  QUOTE LIST STYLING
 */
.quote-list-wrapper{
  padding-left: 4rem;
}

.quote-wrapper {
  position: relative;
}
.quote-wrapper .quote {
  color: white;
  font-family: 'Abril Fatface', cursive;
  font-weight: 400;
  font-size: 8rem;
  max-width: 70vw;
  margin-bottom: 0;
  position: relative;
  margin-bottom: 0.5rem;
  line-height: 1.1;
  letter-spacing: 0;
}

.quote-wrapper .author {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  margin: 0;
  font-style: italic;
  opacity: 0.3;
}

button.new-quote {
  position: absolute;
  right: 5rem;
  bottom: 5rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  background: black;
  color: black;
  cursor: pointer;
  font-weight: bold;
  background: red;
  background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
  background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
  background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  text-decoration: underline;
  border: 5px dashed #ffff00;
}

/**
  QUOTE FORM STYLING
 */

.quote-form-wrapper {
  position: fixed;
  right: 5rem;
  top: 2rem;
  padding: 1rem;
  max-width: 200px;
  background: transparent;
}

.quote-form-border {
  border: 10px solid white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
}

.author-input, .quote-input {
  display: block;
  width: 100%;
  position: relative;
  background: transparent;
  border: 0;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  &::placeholder {
    color: white
  }
}

.submit-quote {
  background: transparent;
  border: 0;
  color: white;
  float: right;
  font-family: 'Source Sans Pro', sans-serif;
}

.quote-form-error-msg, .quote-form-succes-msg {
  display: none;
  position: absolute;
  bottom: -6rem;
  color: white;
  left: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.quote-form-error-msg.error, .quote-form-succes-msg.succes {
  display: block;
}

.show-latest-quote{
  background: black;
  color: black;
  cursor: pointer;
  font-weight: bold;
  background: red;
  background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
  background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
  background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 22px;
}